.Code--Main{
    text-align: left;
    border: 1px solid white;
    border-radius: 20px;
    width: 90%;
    padding-right: 0px;
    line-height: 20%;
    overflow: hidden;
    padding-left: 20px;
    
}

.Code--Main code {
    font-size: 15px;
}

text {
    color: #666;
    font-family: monospace;
    font-size: 13px;
    max-width: 100%;
}

.LightBlue{
    color: rgb(156,220,240)
}

.DarkBlue{
    color: rgb(86,156,214)
}

.Yellow {
    color: rgb(220,220,170)
}

.Purple {
    color: rgb(218,112,179)
}

.Green {
    color: rgb(181,206,168)
}

.White {
    color: white;
}